.show{
    opacity: 1;
    /* transition: all 1s ease-in; */
}
.hide{
    /* forwards
        保存最后一帧样式
         */
    animation: hide-item 2s ease-in forwards;
    /* opacity: 0; */
    /* transition: all 1s ease-in; */
}

@keyframes hide-item{
    0%{
        opacity: 1;
        color: #000
    }
    50%{
        opacity: .5;
        color: #888
    }
    70%{
        opacity: 0.3;
        color: #ccc
    }
    /* 100不会被保存下来 */
    100%{
        opacity: 0;
    }
}